@import "tailwindcss";

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.9s;
  /* border: 1px solid red;*/
}

:root {
  background-color: #222222;
}

@theme inline {
  --font-pop: var(--font-poppins);
  --font-mont: var(--font-montserrat);
}
